<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Which Provider-->
    <add key="provider" value="System.Data.SqlClient"/>
    <!--<add key="provider" value="System.Data.OleDb"/>-->

    <!--Which connection string-->
    <!--<add key="connectionString" value="Data Source=cis.ckwia8qkgyyj.us-east-1.rds.amazonaws.com; 
              Initial Catalog=hd0917093; User ID=hd0917093 ; Password=917093"/>-->
    <!--<add key="connectionString" value="Provider=SQLNCLI11; Data Source=cis.ckwia8qkgyyj.us-east-1.rds.amazonaws.com;
              Initial Catalog=hd0917093; User ID=hd0917093 ; Password=917093"/>-->

  </appSettings>
  <!--Do we have a provider element in data provider factory model???-->
  <!--<provider>
        <add name="AutoLotSqlProvider" provider="System.Data.SqlClient"/>
        <add name="AutoLotOleDbProvider" provider="System.Data.OleDb"/>
  </provider>-->

  <connectionStrings>
    <add name ="AutoLotSqlProvider" connectionString="Data Source=cis.ckwia8qkgyyj.us-east-1.rds.amazonaws.com; 
              Initial Catalog=hd0917093; ; User ID=hd0917093 ; Password=917093"/>
    <add name ="AutoLotOleDbProvider" connectionString="Provider=SQLNCLI11; Data Source=cis.ckwia8qkgyyj.us-east-1.rds.amazonaws.com;
              Initial Catalog=hd0917093; User ID=hd0917093 ; Password=917093"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>